[viewBag]
==
<!-- footer -->
<footer class="">
	<section>
		<div class="container mx-container">
			<div class="row">
				<div class="col-md-3 border border-top-0 border-bottom-0 border-left-0 py-4">
					<a href="/"><img class="pb-4 pt-3" src="{{ 'assets/img/logocopy.png' | theme }}" alt=""></a>
					<a href="tel:+998 71 202-22-22"><p class="m-0 text-danger font-weight-bold"><span>{{this.theme.footer_phone}}</span></p></a>
					<p class="m-0 text-danger font-weight-bold">C 09:00 ДО 22:00</p>
					<div class="basket-color-text pt-3">{{this.theme.footer_description_site|raw}}</div>
				</div>
				<div class="col-md-2 border border-top-0 border-bottom-0 border-left-0 p-0">
					<div class="accept border border-top-0 border-right-0 border-left-0 py-4 px-4">
						<h6 class="font-weight-bold">ПРИНИМАЕМ</h6>
						<div class="logo-bank pt-3">
							<a target="_blank" href="https://click.uz/"><img src="{{ 'assets/images/logo-click.png' | theme }}" width="70" alt="Click"></a>

							<a target="_blank" href="https://payme.uz/"><img src="{{ 'assets/images/payme_01.png' | theme }}" width="70" alt="PayMe"></a>

							<a target="_blank" href="https://uzcard.uz/"><img src="{{ 'assets/img/UzCard.png' | theme }}" width="50" alt="UzCard"></a>
						</div>
						
					</div>
					<div class="px-3 py-4 footer-text">{{'Вы можете оплатить покупки наличными при получении, либо выбрать другой способ оплаты.'|_ }}
					</div>
				</div>
				<style>
					.contact ul li a:hover{
						color: #cb4b4d;
					}
					.contact ul li a {
						color: #000;
					}
					.mx-container {
						max-width: 1277px;
					}
				</style>
				<div class="col-md-2 border border-top-0 border-bottom-0 border-left-0">
				  	<div class="contact py-4 px-3">
						<h6 class="font-weight-bold">{{'КОМПАНИЯ'|_}}</h6>
							<ul class="p-0">
								<li><a href="/about-us">{{'О нас'|_}}</a></li>
								<li><a href="/biznes-s-nami">{{'Бизнес с нами'|_}}</a></li>
								<li><a href="/publichnaya-oferta">{{'Публичная оферта'|_}}</a></li>
							</ul>														
					</div>
				</div>
				<div class="col-md-2 d-flex">
					<div class="contact py-4 px-3">
						<h6 class="font-weight-bold">{{'ПОМОЩЬ'|_}}</h6>
							<ul class="p-0">
								<li><a  href="/svyazatsya-s-nami">{{'Связаться с нами'|_}}</a></li>
								<li><a  href="/status-zakaza">{{'Статус заказа'|_}}</a></li>
								<li><a  href="/kak_oformit_zakaz">{{'Как оформить заказ'|_}}</a></li>
								<li><a  href="/usloviya-dostavki">{{'Условия доставки'|_}}</a></li>
								<li><a  href="/vozvrat">{{'Возврат'|_}}</a></li>
								<li><a  href="/programma-loyalnosti">{{'Программа лояльности'}}</a></li>
							</ul>														
					</div>
					
				</div>
				<div class="col-md-3 col-sm-12 py-4">
					<div class="mobile-app">
						<h6 class="font-weight-bold">{{'МОБИЛЬНОЕ ПРИЛОЖЕНИЕ'|_}}</h6>
						<p class="text-color-footer">{{'Покупать еще удобнее'|_}}</p>
						<div class="mobil-apps pb-3">
							
							<a href="#"><img src="{{ 'assets/img/google-play-button8c7fa5b0.png' | theme }}" alt=""></a>
							
							<a href="#"><img src="{{ 'assets/img/app-store-button396db7f0.png' | theme }}" alt=""></a>
						</div>
						<img class="phone" src="{{ 'assets/img/Phonecopy5.png' | theme }}" alt="">
					</div>
				</div>

			</div>
		</div>
	</section>
	<section class="bg-dark">
		<div class="container">
			<div class="row">
				<div class="col-md-3">					
					<p class= "pt-3 basket-color-text">© 2019 Primus Mall</p>
				</div>
				
				<div class="col-md-3">
					<span class="d-block pt-3 basket-color-text"> Created by <a target="_blank" href="https://qwerty.uz/">QWERTY</a> & <a target="_blank" href="https://itmaker.uz/">ITMAKER</a> </span>
				</div>
				<div class="col-md-3 ya-metrika">
					<a href="https://metrika.yandex.ru/stat/?id=56316460&amp;from=informer"
					   target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/56316460/3_0_FFFFFFFF_EFEFEFFF_0_pageviews"
					                                       style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="56316460" data-lang="ru" /></a>
				</div>
			</div>
		</div>
	</section>
</footer>




<!-- & <a href="https://itmaker.uz/">ITMAKER</a> -->