[viewBag]
==
<p class="lead">
    <strong>{{'Забыли пароль'|_}}?</strong> {{'Нет проблем! Введите свой емэил для верификации аккаунта.'|_}}
</p>

<form data-request="resetPassword::onRestorePassword" data-request-update="'resetPassword::reset': '#partialUserResetForm'">
    <div class="form-group">
        <label for="userRestoreEmail">Email</label>
        <input name="email" type="email" class="form-control" id="userRestoreEmail" placeholder="{{'Введите емэил здесь'|_}}">
    </div>

    <button type="submit" class="btn btn-success">{{'Восствновить пароль'|_}}</button>
</form>