[viewBag]
==
{% set obCartElementList = Cart.get() %}
{% set coupons = Cart.getAppliedCouponList() %}

<form data-request="MakeOrder::onCreate" data-request-flash data-request-1update1="'cart/form-makeorder': '#form-makeorder'">
	<div class="row">
		<div class="col-md-9">
		 	  <div class="main-basket d-block d-md-flex justify-content-between border border-right-0 border-left-0 border-top-0 pb-3 mb-5">
				<div class="basket-header d-flex align-items-center">
					<div class="basket-number bg-danger pt-1">
						<h3 class="text-center text-white">1</h3>
					</div>
					<span class="pl-3">{{'Корзина'|_}}</span>
				</div>
				<div class="basket-header d-flex align-items-center">
					<div class="basket-number border pt-1 {{user ? 'bg-danger'}}">
						<h3 class="text-center {{user ? 'text-white' : 'text-dark'}}">2</h3>
					</div>
					<span class="pl-3">{{'Авторизоваться'|_}}</span>
				</div>
				<div class="basket-header d-flex align-items-center">
					<div class="basket-number border pt-1">
						<h3 class="text-center text-dark">3</h3>
					</div>
					<span class="pl-3">{{'Оформление заказа'|_}}</span>
				</div>
			  </div>
			  <div class="row">
			  	<div class="col-md-6">
		  			<div class="input-group checkout-block mb-5">
					  <div class="input-group-prepend">
				    	<span class="input-group-text input-css" id="basic-addon1"><i class="fas fa-user"></i></span>
					  </div>
			  	  	  <input type="text" class="form-control input-css" placeholder="{{user.name ? user.name : 'Имя'}}" aria-label="Username" aria-describedby="basic-addon1" name="user[name]" value="{{ user.name }}">
					</div>
					<div class="input-group checkout-block mb-5">
					  <div class="input-group-prepend">
					    	<span class="input-group-text input-css" id="basic-addon1"><i class="fas fa-mail-bulk"></i></span>
					  </div>
					  <input type="email" class="form-control input-css" placeholder="{{user.email ? user.email : 'Почта'}}" aria-label="E-mail" aria-describedby="basic-addon1" name="user[email]" value="{{ user.email }}">
					</div>
					<div class="input-group checkout-block mb-5">
						<div class="input-group-prepend">
							<span class="input-group-text input-css" id="basic-addon1"><i class="far fa-compass"></i></span>
						</div>
						<input type="text" required="required" class="form-control input-css" value="{{user.is_store ? user.store.address : user.user_address}}" placeholder="Адрес" aria-describedby="basic-addon1" name="order[property][shipping_address1]" data-group="shipping_address">
					</div>	
			  	</div>
			  	<div class="col-md-6">
		  			<div class="input-group checkout-block mb-5">
					    <div class="input-group-prepend">
					    	<span class="input-group-text input-css" id="basic-addon1"><i class="fas fa-user"></i>
					    	</span>
					    </div>
					  	<input type="text" class="form-control input-css" placeholder="{{user.surname ? user.surname : 'Фамилия'}}" aria-label="Username" aria-describedby="basic-addon1" name="user[last_name]" value="{{ user.surname }}">
					</div>
					<div class="input-group checkout-block mb-5">
					    <div class="input-group-prepend">
				    		<span class="input-group-text input-css" id="basic-addon1"><i class="far fa-mobile-android-alt"></i></span>
				   	    </div>
					  	<input type="tel" class="form-control input-css" aria-label="Username" aria-describedby="basic-addon1" name="user[phone]" value='{{ user.phone }}' onkeydown="return isNumberPhoneKey(event.key)" minlength="13" maxlength="13" required>
					</div>
			  	</div>
			  	<div class="col-md-6">
					<h3 class="pb-3">{{'Способ оплаты'|_}}</h3>
					<div class="form-check p-0">
						
						{% set obPaymentMethodList = PaymentMethodList.make().sort().active() %}
		        		{% if obPaymentMethodList.isNotEmpty() %}
						{% for obPaymentMethod in obPaymentMethodList %}
							<p>
						      <label>
						      	<input class="with-gap" {{ loop.first ? 'checked' }} type="radio" name="order[payment_method_id]" id="payment-method-{{ obPaymentMethod.id }}" value="{{ obPaymentMethod.id }}">
						        <span>{{ obPaymentMethod.name }}</span>
						      </label>
						    </p>
						{% endfor %}    
						{% endif %}
						
					</div>
				    <div id="coupons">
					    {% partial 'cart/coupons'%}
				    </div>
					<div class="d-inline-block mt-4">
						<p>{{'Нажимая на кнопку "Оформить заказ", вы приминаете условия'|_}} <a href="/publichnaya-oferta">{{'Публичной оферты'|_}}</a></p>
					</div>
			  	</div>
			  	<div class="col-md-6">
		  			<h3 class="pb-3">{{'Доставка'|_}}</h3>
				    <p>Выбирите один из типов доставки!</p>
					<div class="form-check pb-3 p-0">
						{% set obShippingTypeList = ShippingTypeList.make().sort().active() %}
		        		{% if obShippingTypeList.isNotEmpty() %}
						{% for obShippingType in obShippingTypeList %}
							<p>
						      <label onclick="$('.shipping').removeClass('d-block');$('#shipping-{{loop.index}}').addClass('d-block');">
						      	<input class="with-gap"
						               data-request="Cart::onSetShippingType"
						               data-request-data="shipping_type_id:  {{ obShippingType.id }}"
						               data-request-update="'cart/order-calc': '#cartSide'"
						               data-request-success="{$('#tolal_price').html(data.data.total_price.price),$('#deliveryPrice').html(data.data.shipping_price.price);}"
						               type="radio" name="order[shipping_type_id]" value="{{ obShippingType.id }}" required>
						        <span class="form-check-label">{{ obShippingType.name }} {% if obShippingType.price %}-  <span class="badge badge-pill badge-danger bg-color">{{ obShippingType.price }}{{'sum'|_}}</span>{% endif %} </span>
						        
						      </label>
						    </p>
						{% endfor %}
						{% endif %}
					</div>
					{% if obShippingTypeList.isNotEmpty() %}
						{% for obShippingType in obShippingTypeList %}
							<div id="shipping-{{loop.index}}" class="shipping d-none {{loop.index == 1 ? 'd-block'}}">
								<p>{{obShippingType.preview_text}}</p>
							</div>
						{%endfor%}	
					{%endif%}	
			  	</div>
			  </div>
		  </div>
		  <div class="col-md-3">
			  <div id="cartSide">
				  {% partial 'cart/order-calc'%}
			  </div>
		</div>
	</div>	
</form>


{% put scripts %}
    <script>
        $(document).on('click', '.add-coupon', function () {
            var coupon = $('.couponValue').val();
            console.log(coupon);
            $.request('Cart::onAddCoupon', {
                update: {'cart/coupons': '#coupons', 'cart/order-calc': '#cartSide'},
                data: {coupon: coupon},
                success: function(data) {
                    if (data.message && !data.status) {
                         $.oc.flashMsg({ text: data.message, class: 'error' })
                    } else {
                        $('#makeOrder').html(data['blocks/makeOrder']);
                    }
                    this.success(data);
                },

            });
        });
    </script>
{% endput %}