{% set obCartElementList = Cart.get() %}
<div class="main-right-block bg-white px-3">
	<div class="checkout-block-right">
		<h4 class="text-danger pt-3">{{'Ваш Заказ'|_}}</h4>
		<ul class="cart-side-prices">
		{% if Cart.getTotalPriceValue() != obCartElementList.getTotalPriceValue() %}
			<li class="cart-side-price">
				<em>{{'Без купона:'|_}}</em><p>{{ obCartElementList.getTotalPriceValue() }} <span class="basket-color-text">{{'сум'|_}}</span></p>
			</li>
			<li class="cart-side-price">
				<em>{{'Итого:'|_}}</em><p>{{Cart.getTotalPriceValue()}} <span class="basket-color-text">{{'сум'|_}}</span></p>
			</li>
		{% else %}
			<li class="cart-side-price">
				<em>{{'Итого:'|_}}</em><p>{{ obCartElementList.getTotalPriceValue() }} <span class="basket-color-text">{{'сум'|_}}</span></p>
			</li>
		{% endif %}
		</ul>
		<div class="checkout-mol-block">
			{% for obCartElement in obCartElementList %} {% set obOffer = obCartElement.offer %}
			<div class="mal-block pb-3 d-flex">
				<div class="checkout-img">
					<img src="{{ obOffer.product.preview_image.getThumb(100, 100, {mode: 'crop'}) }}" width="100">
				</div>
				<div class="checkout-text pl-4">
					<h6 class="p-0 m-0">{{obOffer.product.name}}</h6>
					{% for item in obCartElement.property %} <span class="small"><b>{{obOffer.name}}</b> {{item}}</span><br>
					{%endfor%} <span class="text-danger">{{'Цена'|_}}</span><br>
					<p class="m-0 p-0">{{ obOffer.price_value }} <span class="basket-color-text">{{'сум'|_}}</span></p>
				</div>

			</div>
			{% endfor%}

			<div class="basket-button py-4 mb-5">
				{% if user.is_store == 1 %} <b>{{'Покупка товаров допустима только физическим лицам'|_}}</b> {%else%}
				<button type="submit" class="btn bg-danger man-btn text-white">{{'Оформить
					заказ'|_}}<i class="fas fa-chevron-right pl-4"></i></button>
				{%endif%}
			</div>

		</div>
	</div>
</div>