title = "Store products"
url = "/collection/:store/:category/:slug?"
layout = "main"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[StorePage]
page = "{{ :store }}"

[ProductList]
sorting = "new"

[CategoryList]

[CategoryPage]
slug = "{{ :slug }}"
slug_required = 0
smart_url_check = 0

[CategoryPage ParentCategoryPage]
slug = "{{ :category }}"
slug_required = 1
smart_url_check = 0

[Pagination]
count_per_page = 16
pagination_limit = 8
active_class = "_act"
first_button_name = "First"
first_button_limit = 1
first-more_button_name = "..."
first-more_button_limit = 1
prev_button_name = "Prev"
prev_button_limit = 1
prev-more_button_name = "..."
prev-more_button_limit = 1
next-more_button_name = "..."
next-more_button_limit = 1
next_button_name = "Next"
next_button_limit = 1
last-more_button_name = "..."
last-more_button_limit = 1
last_button_name = "Last"
last_button_limit = 1
==
<?php
use Shohabbos\Stores\Models\Store;

function onStart() {
	$storeId = $this->StorePage->get();
	if(!$storeId){
		return response('Page not found');
	}
	$store = Store::where('id', $storeId->id)->first();
	
	$this['category'] = $this->param('category');
	$this['storeSlug'] = $this->param('store');
	$this['isCategories'] = $store->is_category;
}
?>
==
{% set obCategoryList = CategoryList.make().tree() %}
{% set obCategoryParent = ParentCategoryPage.get() %}
{% set obCategorySlug = CategoryPage.get() %}

{% set obStore = StorePage.get() %}
{% set obStoreProductListRecommend = ProductList.make().sort(ProductList.getSorting()).active().store(obStore.id) %}


	<section>
		<div class="container">
			<div class="categoriy-menu bg-dark d-flex align-items-end flex-column">
				<div class="categories-img">
					{% if obStore.header_image.path == null %}
						<img src="{{'assets/images/store-banner.jpg'|theme}}" alt=""/>
					{%else%}	
						<img src="{{obStore.header_image.path}}" alt=""/>
					{%endif%}	
				</div>
				<div class="categoriy-link">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link text-uppercase" href="{{'store/index'|page({slug: storeSlug})}}"
								aria-haspopup="true" 
								aria-expanded="false">{{storeSlug}}</a>
						</li>
						{% for obCategory in obCategoryList %}	  
							{% for isCategory in isCategories %}	  
								{% if isCategory == obCategory.slug and obCategory.slug != 'magaziny' %}
									<li class="nav-item">
										<a class="nav-link {{obCategory.slug == obCategoryParent.slug ? 'text-danger'}}" href="{{'store/collection'|page({store: this.param.store, category: obCategory.slug, slug:''})}}"
											{#data-request="onFilterStore"
											data-request-data="store/filter-products: '#filter-result'"#}
											aria-haspopup="true" 
											aria-expanded="false">{{obCategory.name}}</a>
									</li>
								{%endif%}	
							{%endfor%}	  	
						{%endfor%}	  
					</ul>
					<ul class="nav nav-tabs">
						{% for obCategory in obCategoryList %}	  
							{% if obCategory.slug == category %}
								{% for obChildCategory in obCategory.children %}	  
									<li class="nav-item">
										<a class="nav-link {{obCategorySlug.slug == obChildCategory.slug ? 'text-danger'}}" href="{{'store/collection'|page({store: this.param.store, category: this.param.category, slug: obChildCategory.slug})}}">{{obChildCategory.name}}</a>
									</li>
								{%endfor%}	  	
							{%endif%}	
						{%endfor%}	  
					</ul>
					{#<form class="container" id="section-products-filter">
						{% partial 'store/section-products-filter'%}
					</form>#}
				</div>
			</div>
			<div class="row pt-4" id="section-list-products">
				
				{% partial 'store/filter-products' obStore=obStore obCategoryParent=obCategoryParent obCategory=obCategorySlug%}
					    
			</div>	
			{#<div class="row pt-4">
				<div class="col-md-4">
					<div class="mal-block-categoriy">
						<div class="mal-text-categorie bg-dark">
							<h4 class="text-danger font-weight-bold">{{'LOOK BOOK'|_}}</h4>
							<p class=" text-white"><b>{{'Мужской стиль'|_}}</b></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="mal-block-categoriy mal-block-categoriy01">
						<div class="mal-text-categorie bg-dark">
							<h4 class="text-danger font-weight-bold">{{'SALE 50%'|_}}</h4>
							<p class=" text-white"><b>{{'Женская обувь'|_}}</b></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="mal-block-categoriy mal-block-categoriy02">
						<div class="mal-text-categorie bg-dark">
							<h4 class="text-danger font-weight-bold">{{'SALE 50%'|_}}</h4>
							<p class=" text-white"><b>{{'Женские сумочки'|_}}</b></p>
						</div>
					</div>
				</div>
			</div>#}
		</div>
	</section>
		<section>
			<div class="container">
				<div class="recommend-title d-block d-sm-flex justify-content-between pt-3 pb-3">
					<h3 class="">{{'Рекомендуем'|_}}</h3>
					<button type="button" class="btn btn-outline-danger recommend-loock"><b>{{'Смотреть все'|_}}</b></button>
				</div>
				<div class="carousel"
				  data-flickity='{ "wrapAround": true }'>
				  
				{% for obStoreProduct in obStoreProductListRecommend %}  
				{% set productPrice = obStoreProduct.offer.active.sort('new') %}
				{% set price = (productPrice.count) ? productPrice.first : null %}	
				
				  <div class="carousel-cell-recommend">
				  	<div class="card border-0" style="width: 15rem; margin-right: 10px;">
					  <a href="{{obStoreProduct.getPageUrl()}}"><img class="card-img-top" src="{{obStoreProduct.preview_image.getThumb(230, 180, {mode: 'crop'})}}" alt="Card image cap"></a>
					  	<a href="#"><img class="like" src="{{ 'assets/img/heartcopy6.png' | theme }}" alt=""></a>
					  <div class="card-body recommend-block">
					 	<h5 class=""><a href="{{obStoreProduct.getPageUrl()}}" class="text-dark">{{obStoreProduct.name }}</a></h5>
					    <p class="small basket-color-text">{{'Мужские'|_}}</p>
						<div class="number-red d-flex">
							<span class="text-color-border pt-2">{{price.old_price_value}}</span>
							<h4 class="text-danger pl-4">{{price.price_value}}</h4>
						</div>
					  </div>
					</div>
				  </div>
				{%endfor%}  
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<h3 class="pt-5 pb-3">{{'Немного о нас'|_}}</h3>
				<div class="row pb-5">
					<div class="col-md-6">
						<p class="text-secondary">{{obStore.content}}</p>	
					</div>
					<div class="col-md-6">
						<p class="text-secondary">{{obStore.description}}</p>
					</div>
				</div>
			</div>
		</section>
	</div>