[viewBag]
==
{% if category %}
	{% set obCategory = category %}
{%endif%}	
{% if obCategoryChild %}
	{% set obCategory = obCategoryChild %}
{%endif%}	
{% if obChild %}
	{% set obCategory = obChild %}
{%endif%}
<div class="col-md-12">
	<h5>{{'Товарные предложения'|_}}</h5>
	<div class="field-group row">
		<div class="col-lg-4 col-md-4">
			{% for obProperty in obCategory.product_property if obProperty.code == 'size' %}
				<label for="task" class="text-muted small">{{ obProperty.name }}</label>
				<select class="form-control" name="offers[0][name]">
					<option value selected><b>{{obProperty.name}}</b></option>
					{% for obValue in obProperty.property_value %}     	
						<option value="{{obValue.value}}"><b>{{obValue.value}}</b></option>
					{%endfor%}	
				</select>	
			{% else  %}
				<label for="task" class="text-muted small">{{'Размер'|_}}</label>
				<select class="form-control" name="offers[0][name]" required>
					<option value selected>{{'Размер'|_}}</option>
					{% for obProperty in properties %} 
						{% for property in obProperty.property_value %} 
							{% if property.slug != 'bezrazmera' %}
								<option value="{{property.value}}">{{property.value}}</option>
							{%endif%} 
						{% endfor %} 
					{% endfor %} 
				</select>
			{% endfor %}

			<input type="hidden" value="1" name="offers[0][active]">
		</div>
		<div class="col-lg-2 col-md-4">
			<label class="text-muted small">{{'Цена'|_}}
			</label>
			<input type="text" maxlength="10" class="span2 form-control" name="offers[0][price]"  value="" onkeyup="calcPrice(this)" onkeypress="return isNumberKey(this)" required>
		</div>
		<div class="col-lg-2 col-md-4 priceBtnBlock">
			<div style="display: none;">
				<label for="duedate" class="text-muted small">{{'Цена со скидкой'|_}}
				</label>
				<input type="text" maxlength="10" onkeypress="return isNumberKey(this)" class="span2 form-control"  value="" onkeyup="calcSale(this)">
				<input type="hidden" name="offers[0][old_price]">
			</div>
			<button type="button" 
					class="btn btn-primary btn-sm" 
					onclick="addSale(this)">
				Доб. скидку
			</button>
		</div>
		<div class="col-lg-1 col-md-2">
			<label for="duedate" class="text-muted small">{{'Кол-во'|_}}</label>
			<input type="text" maxlength="3" class="span2 form-control quantity" name="offers[0][quantity]" value="" onkeypress="return isNumberKey(this)" required>
		</div>
		<div class="col-lg-2 col-md-3">
			<label for="duedate" class="text-muted small">
				{{'Комиссия'|_}}{{user.store.commission}}%
			</label>
			<input type="hidden" class="percent" value="{{user.store.commission}}"/>
			<input id="resultPrice" type="text" class="span2 form-control calc-value" name="" value="" disabled>
		</div>
		<div class="col-lg-1 col-md-2">
			<label for="duedate" class="text-white d-block">{{'III'|_}}</label>
			<input type="button" style="font-size: 10px;" class="btn btn-danger span-2 delete" value="--"/>
		</div>
	</div>

	<fieldset class="todos_labels">

		<div class="repeatable"></div>

		<div class="form-group my-3" style="text-align:center;">
			<input type="button" value="{{'Добавить'|_}}" class="btn btn-success add" onclick="addFields(this)" align="center">
		</div>

	</fieldset>
</div>