[viewBag]
==
{% set brands = BrandList.make().active().random(100) %}

	<div class="main-butick">
		<div class="recommend-title d-block d-md-flex justify-content-between py-5">
			<h3 class="">{{'Бренды'|_}}</h3>

<!--			<a href="{{'categorie'|page}}" class="btn btn-outline-danger recommend-loock bg-danger text-white"><b>{{'Смотреть все'|_}}</b></a>-->
		</div>
		<div class="carousel " data-flickity='{ "wrapAround": true, "autoPlay": true }'>
			{% for brand in brands %}
			{% if brand.preview_image.path is empty %}
			{% else %}
			<div class="carousel-cell-boutiques text-center my-auto">
				<a class="categories-button" href="http://pmall.uz/list?brandid={{brand.id}}"><img src="{{ brand.preview_image.path }}" alt=""></a>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>


{% put styles %}
	<style>
		.carousel-cell-boutiques {
			max-height: 90px;
		}
		.carousel-cell-boutiques img {
			max-height: 70px;
			object-fit: contain;
		}
		.flickity-slider {
			display: flex;
			align-items: center;
		}
	</style>
{% endput %}