[viewBag]

[StatusList]
==
{% for order in user.order %}
	<div class="col-md-12">
		<div class="row border pb-3">
			<div class="col-md-6">
		  		<div class="main-basket-katalog d-flex pt-3">
			  		<div class="basket-tovar text-center">
			  			<p class="name">
                            <span class="text-muted">{{ order.order_number }}</span></br>
                            <h4><b>{{ order.order_offer.count }} шт.</b></h4>
                            <p><a href=""></a></p>
                        </p>
			  		</div>
			  		<div class="basket-info pl-3 pl-5">
                        <p class="name">
                        	<span class="text-muted">{{ order.shipping_type.name}}</span></br>
                            <h4><b>{{ order.status.name }}</b></h4>
                        </p>
			  		</div>
		 	 	</div>
		    </div>
		    <div class="col-md-6 col-sm-6 text-center mt-4">
		  		<span class="price" style="white-space: nowrap"><b>{{ order.total_price_value }} {{ order.currency.symbol }}</b></span>
                <span class="ml-4">{{ order.payment_method.name }}</span>
                <span class="price ml-4"><b>{{ order.created_at.format(' d.m.Y') }}</b></span>
		    </div>
		</div>
	</div>	
{%endfor%}
<div class="order-items">
	<div class="order-item">
		<input id="order-123" type="checkbox" name="order"/>
		<label class="order-item-button" for="order-123">
			<b>Статус заказа: Доставлено / не доставлено</b>
			<b>Номер заказа: "2312842"</b>
		</label>
		<div class="order-item-inner">
			<ul class="order-item-inner-about">
				<li class="order-item-inner-about-number">
					<em>Номер заказа - </em>
					<span>2312842</span>
				</li>
				<li class="order-item-inner-about-sum">
					<em>Сумма заказа - </em>
					<span>3000000 сум</span>
				</li>
				<li class="order-item-inner-about-count">
					<em>Дата Регистрации - </em>
					<span>11.11.2019</span>
				</li>
				<li class="order-item-inner-about-status">
					<em>Статус - </em>
					<span>Доставлено/ Не доставлено</span>
				</li>
				<li class="order-item-inner-about-method">
					<em>Способ оплаты - </em>
					<span>UzCard / Visa / MasterCard</span>
				</li>
				<li class="order-item-inner-about-phone">
					<em>Номер телефона - </em>
					<span> 99899999999</span>
				</li>
				<li class="order-item-inner-about-address">
					<em>Место доставки - </em>
					<span>Ташкент, Яккасарайский район, Улица Нукус, Дом 2а, кв 68</span>
				</li>
			</ul>
			<ul class="order-item-inner-items">
				<!--Count of cards-->
				<li class="order-item-inner-item">
					<div class="order-item-inner-item-card-count">
						<em>Количество товаров: <span>"nth"</span></em>
					</div>
				</li>
				<!--cards-->
				<li class="order-item-inner-item">
					<div class="order-item-inner-item-img">
						<img src="{{'assets/img/54101783_2.png' | theme }}" alt=""/>
					</div>
					<ul class="order-item-inner-item-info">
						<li><em> Название товара:</em> <span> Туфли Aldo - summer</span></li>
						<li><em> Количество: </em><span> 1 шт</span></li>
						<li><em> Цвет:</em> <span> Серый</span></li>
						<li><em> Размер: </em><span> 37</span></li>
						<li><em> Цена: </em><span> 450000 сум</span></li>
					</ul>
				</li>
				<li class="order-item-inner-item">
					<div class="order-item-inner-item-img">
						<img src="{{'assets/img/54101783_2.png' | theme }}" alt=""/>
					</div>
					<ul class="order-item-inner-item-info">
						<li><em> Название товара:</em> <span> Туфли Aldo - summer</span></li>
						<li><em> Количество: </em><span> 1 шт</span></li>
						<li><em> Цвет:</em> <span> Серый</span></li>
						<li><em> Размер: </em><span> 37</span></li>
						<li><em> Цена: </em><span> 450000 сум</span></li>
					</ul>
				</li>
				<li class="order-item-inner-item">
					<div class="order-item-inner-item-img">
						<img src="{{'assets/img/54101783_2.png' | theme }}" alt=""/>
					</div>
					<ul class="order-item-inner-item-info">
						<li><em> Название товара:</em> <span> Туфли Aldo - summer</span></li>
						<li><em> Количество: </em><span> 1 шт</span></li>
						<li><em> Цвет:</em> <span> Серый</span></li>
						<li><em> Размер: </em><span> 37</span></li>
						<li><em> Цена: </em><span> 450000 сум</span></li>
					</ul>
				</li>
				<li class="order-item-inner-item">
					<div class="order-item-inner-item-img">
						<img src="{{'assets/img/54101783_2.png' | theme }}" alt=""/>
					</div>
					<ul class="order-item-inner-item-info">
						<li><em> Название товара:</em> <span> Туфли Aldo - summer</span></li>
						<li><em> Количество: </em><span> 1 шт</span></li>
						<li><em> Цвет:</em> <span> Серый</span></li>
						<li><em> Размер: </em><span> 37</span></li>
						<li><em> Цена: </em><span> 450000 сум</span></li>
					</ul>
				</li>
				<li class="order-item-inner-item">
					<div class="order-item-inner-item-img">
						<img src="{{'assets/img/54101783_2.png' | theme }}" alt=""/>
					</div>
					<ul class="order-item-inner-item-info">
						<li><em> Название товара:</em> <span> Туфли Aldo - summer</span></li>
						<li><em> Количество: </em><span> 1 шт</span></li>
						<li><em> Цвет:</em> <span> Серый</span></li>
						<li><em> Размер: </em><span> 37</span></li>
						<li><em> Цена: </em><span> 450000 сум</span></li>
					</ul>
				</li>
			</ul>
			<ul class="order-item-inner-calc">
				{% for card in cards %}
				<li class="order-item-inner-calc-item">
					<em>{{ card.name }}</em><span>25</span>
				</li>
				{% endfor %}
				<li class="order-item-inner-calc-item">
					<em>Название</em><span>25</span>
				</li>
				<li class="order-item-inner-calc-item">
					<em>Название</em><span>35</span>
				</li>
				<li class="order-item-inner-calc-item">
					<em>Название</em><span>45</span>
				</li>
				<li class="order-item-inner-calc-item">
					<em>Название</em><span>55</span>
				</li>
				<li class="order-item-inner-calc-result">
					<!-- Это макет калькулятора-->
					{% set values = 0 %}
					{% set test = ['20', '30', '40', '50'] %}
					{% for value in test %}
					{% set values = values + value %}
					{% endfor %}
					<em>Итого</em><span>{{values}}</span>
				</li>
			</ul>
		</div>
	</div>
</div>