[viewBag]
[StatusList]
==
{% for order in user.orderList|sort|reverse %}
<div class="order-items">
	{% set totalCount = 0 %}
	{% for item in order.order_position %}
	{%set totalCount = totalCount + item.quantity %}
	{%endfor%}
	<div class="order-item">
		<input id="order-{{ order.order_number }}" type="checkbox" name="order"/>
		<label class="order-item-button" for="order-{{ order.order_number }}">
			<b>Статус заказа: {{order.status.name}}</b> <b>Номер заказа: "{{ order.order_number }}"</b>
		</label>
		<div class="order-item-inner">
			<ul class="order-item-inner-about">
				<li class="order-item-inner-about-number">
					<em>Номер заказа - </em> <span>{{ order.order_number }}</span>
				</li>
				<li class="order-item-inner-about-sum">
					<em>Сумма заказа - </em> <span>{{ order.total_price_value }} {{ order.currency.symbol }}</span>
				</li>
				<li class="order-item-inner-about-count">
					<em>Дата Регистрации - </em> <span>{{ order.created_at.format(' d.m.Y') }}</span>
				</li>
				<li class="order-item-inner-about-status">
					<em>Статус - </em> <span>{{order.status.name}}</span>
				</li>
				<li class="order-item-inner-about-method">
					<em>Способ оплаты - </em> <span>{{ order.payment_method.name }}</span>
				</li>
				<li class="order-item-inner-about-phone">
					<em>Номер телефона - </em> <span>{{order.property.phone}}</span>
				</li>
				<li class="order-item-inner-about-address">
					<em>Место доставки - </em> <span>{{order.property.shipping_address1}}</span>
				</li>
			</ul>
			<ul class="order-item-inner-items">
				<li class="order-item-inner-item">
					<div class="order-item-inner-item-card-count">
						<em>Количество товаров: <span>"{{totalCount}}"</span></em>
					</div>
				</li>
				{% set ar = 0 %}
				{% for item in order.order_position %}
				{% set products = item.item.product %}
				<li class="order-item-inner-item">
					<div class="order-item-inner-item-img">
						<img src="{{products.preview_image.path}}" alt="img">
					</div>
					<ul class="order-item-inner-item-info">
						<li><em> Название товара:</em> <span>{{products.name}}</span></li>
						<li><em> Количество: </em><span> {{item.quantity}} шт</span></li>
						<li><em> Параметры:</em> <span>{{item.item.name}}</span></li>
						<li><em> Цена: </em><span> {{ item.offer.price }} сум</span></li>
					</ul>
				</li>
				{% endfor %}
			</ul>
			<ul class="order-item-inner-calc">
				{% for item in order.order_position %}
				{% set products = item.item.product %}
				<li class="order-item-inner-calc-item">
					<em>{{products.name}}</em><span>{{ item.offer.price }}</span>
				</li>
				{% endfor %}
				<li class="order-item-inner-calc-result">
					<em>{{order.shipping_type.name}}</em><span>{{order.shipping_type.price}}</span>
				</li>

				{% set totalDiscount = order.discount_total_price_value - order.discount_position_total_price_value  %}
				{% if totalDiscount  %}
				<li class="order-item-inner-calc-result">
					<em>Скидка</em><span>{{totalDiscount}}</span>
				</li>
				{% endif %}
				<li class="order-item-inner-calc-result">
					<em>Итого</em><span>{{ order.total_price_value }}</span>
				</li>
			</ul>
		</div>
	</div>
</div>
{%endfor%}
