[viewBag]
==
<div class="order-items">
	{% for order in obStore.orders|sort|reverse %}
	{% if order.order.order_number is not defined or order.order.order_number is null %}
	{%else%}
	<div class="order-item">
		<input id="order-{{ order.order.order_number }}" type="checkbox" name="order"/>
		<label class="order-item-button" for="order-{{ order.order.order_number }}">
			<b>Статус заказа: {{order.order.status.name}}</b>
			<b>Клиент: {{order.user.name }}</b>
			<b>Номер заказа: "{{ order.order.order_number }}"</b>
		</label>
		<div class="order-item-inner">
			<ul class="order-item-inner-about">
				<li class="order-item-inner-about-name">
					<em>Имя покупаеля - </em> <span>{{ order.user.name }}</span>
				</li>
				<li class="order-item-inner-about-number">
					<em>Номер заказа - </em> <span>{{ order.order.order_number }}</span>
				</li>
				<li class="order-item-inner-about-sum">
					<em>Сумма заказа - </em> <span>{{ order.order.total_price_value}}</span>
				</li>
				<li class="order-item-inner-about-count">
					<em>Дата Регистрации - </em> <span>{{ order.created_at.format(' d.m.Y') }}</span>
				</li>
				<li class="order-item-inner-about-status">
					<em>Статус - </em> <span>{{order.order.status.name}}</span>
				</li>
				<li class="order-item-inner-about-method">
					<em>Способ оплаты - </em> <span>{{order.order.payment_method.name}}</span>
				</li>
				<li class="order-item-inner-about-phone">
					<em>Номер телефона - </em> <span>{{order.order.property.phone}}</span>
				</li>
				<li class="order-item-inner-about-address">
					<em>Место доставки - </em> <span>{{order.order.property.shipping_address1}}</span>
				</li>
			</ul>
			<ul class="order-item-inner-items">
				<li class="order-item-inner-item">
					<div class="order-item-inner-item-card-count">
						<em>Количество товаров: <span>"{{order.order.quantity}}"</span></em>
					</div>
				</li>
				{% for item in order.order.order_position %} {% set products = item.item.product %}
				<li class="order-item-inner-item">
					<div class="order-item-inner-item-img">
						<img src="{{products.preview_image.path}}" alt="img">
					</div>
					<ul class="order-item-inner-item-info">
						<li><em> Название товара:</em> <span>{{item.item.product.name}}</span></li>
						<li><em> Количество: </em><span> {{item.quantity}} шт</span></li>
						<li><em> Параметры:</em> <span>{{item.item.name}}</span></li>
						<li><em> Цена: </em><span> {{ item.offer.price }} сум</span></li>
					</ul>
				</li>
				{% endfor %}
			</ul>
			<ul class="order-item-inner-calc">
				{% for item in order.order.order_position %} {% set products = item.item.product %}
				<li class="order-item-inner-calc-item">
					<em>{{products.name}}</em><span>{{ item.offer.price }}</span>
				</li>
				{% endfor %}
				<li class="order-item-inner-calc-result">
					<em>Итого</em><span>{{ order.order.total_price_value}}</span>
				</li>
			</ul>
		</div>
	</div>
	{%endif%}
	{%endfor%}
</div>
