description = "Main layout"

[CategoryList]

[BannerBanners]

[session]
security = "all"
redirect = "main"

[Cart]

[ProductData]

[ProductList]
sorting = "no"

[account]
redirect = "main"
paramCode = "code"
forceSecure = 0
==
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> {{this.theme.site_name}} </title>
	
	<link rel="stylesheet" href="{{[
		'assets/css/bootstrap.css',
		'assets/css/all.css',
		'assets/css/slide-menu.css',
		'assets/css/flickity.css',
		'assets/css/rangeslider.css',
		'assets/css/style.css',
	]|theme}}">
	<link src="{{ 'assets/css/slide-menu.css' | theme }}"></link>  
	{% styles %}
	<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="{{ this.theme.settings_favicon|media }}" type="image/x-icon">        
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{{ 'assets/js/js_todo/jquery.repeatable.js' | theme }}"></script>  
</head>
<body class="menu-opened">
	
	
	
	{% partial 'site/header' %}
	
	{% page %}
	

	

	{% partial 'site/footer' %}


	
	<!-- script -->
	
	
	<script src="{{[
		'assets/js/jquery-3.4.1.min.js',
		'assets/js/bootstrap.min.js',
		'assets/js/flickity.pkgd.min.js',
		'assets/js/main.js',
		'assets/js/slide-menu.js',
		'assets/js/rangeslider.min.js',
		'assets/js/app.js',
		'assets/js/js.js',
	]|theme}}">
	</script>
	<script src="{{ 'assets/js/slide-menu.js' | theme }}"></script>  
	{% framework extras %}
    {% scripts %}
    
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(55775977, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/55775977" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>